div(ng-include='"components/header/header.html"')

.locations.container
  .col-xs-12.header
    h1 Grub Up Locations:

  ul
    li.location(ng-repeat='location in locations')
      .col-xs-12
        {{location.name}} • {{location.address}} • Pittsburgh, PA {{location.zip}}

div(ng-include='"components/footer/footer.html"')