.header-container.container(ng-controller='HeaderCtrl')
  .header-row
    .col-xs-6.col-sm-6.col-md-4.col-lg-3.logo
      h1
        a(href='/')
          img.logo(src='assets/images/logo.svg', alt="#grubup")
    .col-xs-6.col-sm-6.col-md-8.col-lg-9.search(ng-show='showSearch')
      input.search-field(type='text', placeholder='zip code', ng-model='zip')
      button(ng-click='submit()') Submit

    nav
      ul
        li
          a(href='/locations') locations
        li
          a(href='/menu') menu