footer
  .container
    .row
      .col-lg-12
        img.cp-logo(src='assets/images/citiparks-logo.svg', alt="Citiparks Logo")
        p
          span Main Office:
          br
          span 412.422.6401
        p
          span 5344 Second Ave.
          br
          span Pittsburgh, PA 15207