* {
  box-sizing: border-box;
}

hgroup {
  margin: 20px 0;
  * {
    display: inline;
    margin-right: 20px;
    vertical-align: middle;
  }
}

a {
  cursor: pointer;
}

#hero-map {
  position: relative;

  .map {
    height: 600px;
    width: 100%;
    z-index: -1;
  }
}

.search {
  padding: 50px 0;

  .search-field {
    width: 200px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
  }

}

.body-container {
  padding: 20px 0;
  background-color: #fec62c;
  color: #ffffff;
  font-size: 20px;
}

.location-popout {
  position: absolute;
  z-index: 1;
  height: 100%;
  background: #f47921;
  width: 0;
  opacity: 0;
  transition: width 400ms ease;
  color: #ffffff;

  &.expanded {
    width: 400px;
    opacity: 1;
    padding: 20px;
  }

  h2 {
    margin: 0;
  }

  .address {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}