.header-container.container
  .header-row
    .col-xs-12.col-sm-8.col-lg-3.col-md-6.logo
      h1
        img.logo(src='assets/images/logo.svg', alt="#grubup")
    .col-xs-9.search
      input.search-field(type='text', placeholder='zip code', ng-model-options="{ debounce: 500 }", ng-model='zip')
      nav
        ul
          li  
            a location
          li
            a menu

#hero-map
  location-popout(location='selectedLocation', class="{{popoutClass}}")
  map.map(center="[{{lat}}, {{long}}]", zoom="13", scrollwheel="false", draggable="{{draggable}}", class="{{mapClass}}")
    marker(ng-repeat="marker in markers", position="{{marker.position}}", on-click="showLocation(marker, $index)")

.body-container
  .container
    section.near-locations
      .row
        .locations.col-lg-12
          .col-lg-3.col-md-3
            h2 Inner City Ministries
          .col-lg-7.col-md-6
            span.adr 2643 East Liberty Blvd • Pittsburgh, PA 15206
            br
            span.dstnc Distance: 1.7mi
          .col-lg-2.col-md-3
            button Get Directions
      .row
        .locations.col-lg-12
          .col-lg-3
            h2 Paulson Rec Center
          .col-lg-7
            span.adr 1201 Paulson Avenue • Pittsburgh, PA 15206
            br
            span.dstnc Distance: 1.7mi
          .col-lg-2
            button Get Directions
      .row
        .locations.col-lg-12
          .col-lg-3.col-md-3
            h2 Sixth Mt. Zion Church
          .col-lg-7.col-md-6
            span.adr 6556 Shetland Avenue • Pittsburgh, PA 15206
            br
            span.dstnc Distance: 1.7mi
          .col-lg-2.col-md-3
            button Get Directions
      .row
        .locations.col-lg-12
          .col-lg-3.col-md-3
            h2 Valley View Presbyterian
          .col-lg-7.col-md-6
            span.adr 604 N. Aiken Avenue • Pittsburgh, PA 15206
            br
            span.dstnc Distance: 1.7mi
          .col-lg-2.col-md.3
            button Get Directions
      .row
        .locations.col-lg-12
          .col-lg-3
            h2 Hazelwood - BJWL
          .col-lg-7
            span.adr 944 Johnston Avenue • Pittsburgh, PA 15207
            br
            span.dstnc Distance: 1.8mi
          .col-lg-2
            button Get Directions
section.text-message
  .container-fluid
    .row
      .col-lg-8.col-lg-offset-2
        img.phone-icon(src='assets/images/phone-icon.svg', alt="Phone icon")
        h3 Text Menu to "78945" to receive today's menu for your location!
footer
  .container
    .row
      .col-lg-12
        .col-lg-4
          img.cp-logo(src='assets/images/citiparks-logo.svg', alt="Citiparks Logo")
          .org
            h4 Main Office:
            span.tel 412.422.6401
          .adr
            span 5344 Second Ave.
            br
            span Pittsburgh, PA 15207
        .col-lg-8
          label Send Us Your Questions:
          textarea(rows="8" cols="75")
