div(ng-include='"components/header/header.html"')

#hero-map
  location-popout(location='selectedLocation', class="{{popoutClass}}")
  map.map(center="[{{lat}}, {{long}}]", zoom="13", scrollwheel="false", draggable="{{draggable}}", class="{{mapClass}}")
    marker(ng-repeat="marker in markers", position="{{marker.position}}", on-click="showLocation(marker, $index)")

.body-container(ng-show='locations.closest.length != 0')
  .container
    section.near-locations
      .row(ng-repeat='close in locations.closest')
        .locations.col-lg-12
          .col-lg-3.col-md-3
            h2 {{close.name}}
          .col-lg-7.col-md-6
            div {{close.address}} • Pittsburgh, PA {{close.zip}}
            span Distance: {{close.distance}} miles
          .col-lg-2.col-md-3
            a(href="{{close.directionsUrl}}", target="_blank") Get Directions

section.text-message
  .container-fluid
    .row
      .col-lg-8.col-lg-offset-2
        img.phone-icon(src='assets/images/phone-icon.svg', alt="Phone icon")
        h3 Text Menu to "78945" to receive today's menu for your location!

div(ng-include='"components/footer/footer.html"')
