.header-container.container
  .header-row
    .col-xs-4.logo
      h1
        img.logo(src='assets/images/logo.svg', alt="#grubup")
    .col-xs-8.search
      .pull-right
        input.search-field(type='text', placeholder='zip code', ng-model-options="{ debounce: 500 }", ng-model='zip')

#hero-map
  location-popout(location='selectedLocation')
  map.map(center="[{{lat}}, {{long}}]", zoom="13", scrollwheel="false", draggable="false")
    marker(ng-repeat="marker in markers", position="{{marker.position}}", on-click="showLocation(marker, $index)")

.body-container
  .container
    p This is cool copy that Anastasia wanted!
