@tango: #f37420;
@yellow: #ffc43a;
@grey: #a7a9ab;

* {
  box-sizing: border-box;
}

hgroup {
  margin: 20px 0;
  * {
    display: inline;
    margin-right: 20px;
    vertical-align: middle;
  }
}

a {
  cursor: pointer;
}

#hero-map {
  position: relative;

  .map {
    height: 600px;
    width: 100%;
    z-index: -1;
  }
}

.search {
  padding: 20px 0;

  .search-field {
    width: 200px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    float: right;
    border: 1px solid @grey;
  }

}

nav {
  font-family: "museo-slab",serif;
  float: right;
  clear: right;
  margin-top: 10px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 1em;
      a {
        background-color: @tango;
        padding: .5em 1em;
        color: #FFF;
        border-radius: 5px;
        display: block;
        &:hover {
          color: #FFF;
          text-decoration: none;
          background-color: @yellow;
          transition-duration: 2s;
        }
      }
    }
  }
}

.body-container {
  padding: 20px 0;
  background-color: @grey;
  color: #ffffff;
  font-size: 20px;
}

.locations {
  h2 {
    margin: 0;
  }
  button {
    background-color: #FFF;
    color: @grey;
    padding: 15px 10px;
    border-radius: 10px;
    border: none;
  }
}

.location-popout {
  position: absolute;
  z-index: 1;
  height: 100%;
  background: #f47921;
  width: 0;
  opacity: 0;
  transition: width 400ms ease;
  color: #ffffff;

  &.expanded {
    width: 400px;
    opacity: 1;
    padding: 20px;
  }

  h2 {
    margin: 0;
  }

  .address {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

}

footer {
  padding: 1em 0;
}