.location-popout {
  @color: #ffffff;
  color: @color;
  background: #f47921;
  position: relative;
  box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.51);
  z-index: 100;
  height: 100%;

  .close-popout {
    border: 4px solid @color;
    border-radius: 100px;
    color: @color;
    content: '+';
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(45deg);

    i {
      position: absolute;
      top: -14px;
      right: 1px;
      font-size: 31px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .name {
    a {
      color: @color;
      text-decoration: none;
    }
  }

  .address {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &.hidden {
    width: 0;
  }

  .address {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .hours {
    text-transform: lowercase;
  }

}